@use 'variables.scss';
@use 'z-index.scss';
@use 'animations.scss';
@use 'components/terminal.scss';
@use 'components/resize-handle.scss';
@use 'components/code.scss';
@use 'components/editor.scss';
@use 'components/toast.scss';

html,
body {
  height: 100%;
  width: 100%;
}

:root {
  --gradient-opacity: 0.8;
  --primary-color: rgba(45, 107, 90, var(--gradient-opacity)); /* #2D6B5A */
  --secondary-color: rgba(58, 140, 115, var(--gradient-opacity)); /* #3A8C73 */
  --accent-color: rgba(75, 176, 148, var(--gradient-opacity)); /* #4BB094 */
  // --primary-color: rgba(147, 112, 219, var(--gradient-opacity));
  // --secondary-color: rgba(138, 43, 226, var(--gradient-opacity));
  // --accent-color: rgba(180, 170, 220, var(--gradient-opacity));
}
